/.idea/.gitignore
/.idea/dictionaries
/.idea/misc.xml
/.idea/modules.xml
/.idea/P4F.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.ipynb_checkpoints/DataTypesandStructures-checkpoint.ipynb
/.ipynb_checkpoints/NumericalComputingWithNumPy-checkpoint.ipynb
array.apy
.ipynb_checkpoints
.idea
.vscode
